name: Despliegue a Producci贸n

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Instalar JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Compilar aplicaci贸n
        run: javac -d out src/*.java

      - name: Ejecutar aplicaci贸n (Producci贸n)
        run: java -cp out Main

